extends layout 

block content 
    div.page
        h1= title 
        if item
            p Description: 
                | #{item.description}

            p Category: 
                | #{item.category.name}

            p In Stock: 
                | #{item.stock}

            hr
            p.updatebtn
                a(href=item.url+'/update') Update Item
            p.deletebtn
                a(href=item.url+'/delete') Delete Item 

        else 
            p This item does not exist