extends layout 

block content 
    h1= title 
    p Are you sure you want to delete this item?

    p Item Name: #{item.name} 

    p Item Description: #{item.description} 

    p Item Category: #{item.category.name}

    p Item Stock: #{item.stock}

    form(method='POST')
            div
                input(type='hidden', name='itemid', value=item._id)

            button.btn.btn-primary(type='submit') Delete